/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 24/3/2020; latest update: 3 June 2022
*/

params {  // Parameters for each job
    fastq = "*_[1,2].fastq.gz"
    db = "bacteria"  // Absolute path of the reference Kraken2 database
    outdir = "report"  // Absolute path of the output directory; subdirectories to be created automatically: kraken, bracken, top3_taxa
    queueSize = 10
    cpus = 8
    mem = 64  // Memory requested per job (GB)
    conda_env = "kraken2.1"  // Name of the Conda environment where Kraken2, Python 3, and the pandas package are installed
    bracken_dir = "Bracken"  // Absolute path of the directory containing program 'bracken'
    read_len = 100  // Read length used for building the Bracken database
    script_dir = "."  // Absolute path to the directory in which script top3_bracken_taxa.py is stored.
}

executor {
	$local {
		cpus = 1
		memory = "4 GB"  // The local executor is only used for the last step compile_reports.
	}
    
    $pbs {
        queueSize = params.queueSize
    }
}

process {
    withLabel: PBS {
        clusterOptions = "-l select=1:ncpus=${params.cpus}:mem=${params.mem}gb"
        time = "24h"
        errorStrategy = "retry"
        maxRetries = 2
    }
}

trace {
    // Default name of the trace file: trace.txt
    enabled = true
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              %cpu,\
              %mem"
}

manifest {
    homePage = "https://github.com/wanyuac/Kraken_toolkit"
    description = "Run Kraken2 and Bracken for taxonomical classification."
    mainScript = "analyse_taxa.nf"
    version = "0.0.1"
}
