/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 24/3/2020
*/

params {
    db = "bacteria"
    outdir = "report"
    fastq = "*_[1,2].fastq.gz"
    queueSize = 35
    kraken2Dir = "."
}


executor {
	$local {
		cpus = 4
		memory = "48 GB"  // Previous runs did not use more than 40 GB memmory.
	}
    
    $pbspro {
        queueSize = params.queueSize
    }
}


profiles {
	standard {
		process.executor = "local"
	}
	
    pbs {
        process {
            executor = "pbspro"
            clusterOptions = "-lselect=1:ncpus=4:mem=48gb"
            time = "8h"
            errorStrategy = "terminate"
        }
    }
}


trace {
    // Default name of the trace file: trace.txt
    enabled = true
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              %cpu,\
              %mem"
}


manifest {
    homePage = "https://github.com/wanyuac/Nextflow_pipeline"
    description = "Run Kraken2 for taxonomical classification."
    mainScript = "kraken2.nf"
    version = "0.0.3"
}
