/*
Copyright (C) 2020 Yu Wan <wanyuac@126.com>
Licensed under the GNU General Public License v3.0
Publication: 7 June 2022; latest update: 7 June 2022
*/

params {  // Parameters for each job
    fasta = "*.fasta"
    db = "bacteria.ATG"  // Absolute path of the KmerFinder reference database (*.ATG)
    tax = "bacteria.tax"  // Taxonomy file (*.tax) of the KmerFinder reference database
    outdir = "output"  // Absolute path of the output directory; subdirectories to be created automatically: kraken, bracken, top3_taxa
    queueSize = 15
    mem = 16  // Memory requested per job (GB)
    conda_env = "kmerfinder"  // Name of the Conda environment where KMA and Python 3 are installed
    kma = "~/anaconda3/envs/kmerfinder/bin/"  // Directory in which KMA is installed
    kmerfinder = "kmerfinder.py"
}

executor {
	$local {
		cpus = 1
		memory = "8 GB"  // The local executor is only used for the last step compile_reports.
	}
    
    $pbs {
        queueSize = params.queueSize
    }
}

process {
    executor = "pbs"
    clusterOptions = "-l select=1:ncpus=1:mem=${params.mem}gb"
    time = "24h"
    errorStrategy = "retry"
    maxRetries = 2
}

manifest {
    homePage = "https://github.com/wanyuac/Taxonomy_toolkit"
    description = "Run KmerFinder over FASTA files for taxonomical classification."
    mainScript = "kmerfinder.nf"
    version = "0.0.1"
}
